.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align:center;
}

p {
    color: rgb(102, 102, 102);
    text-align: center;
    letter-spacing: 0.4px;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    border: 0px none rgb(102, 102, 102);
    font: normal normal 300 normal 16px / 27.2px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 16px 0px 20px;
    outline: rgb(102, 102, 102) none 0px;
}/*#P_1*/


img {
    max-width: 100%;
    height: auto;
}

.w3-top{
  z-index: 100000;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container {
  position: relative;
  width: 50%;
} 

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.img-circle {
    height: 125px;
    max-width: 100%;
    border-radius: 50%;
    display: block;
    margin: auto;
}

#cardtitle{
  font: normal normal bold normal 30px / normal "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(34, 34, 34);
    letter-spacing: -1px;
}

 #cardtext{
    text-align: left;
  
   
}

#home-h1 {
    color: rgb(34, 34, 34);
    height: 49px;
    letter-spacing: -1px;
    text-align: center;
    text-decoration: none solid rgb(34, 34, 34);
    text-rendering: optimizeLegibility;
    border: 0px none rgb(34, 34, 34);
    font: normal normal bold normal 40px / normal "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 0px 13px;
    outline: rgb(34, 34, 34) none 0px;
}

#home-h2 {
    color: rgb(170, 170, 170);
    height: 23px;
    text-align: center;
    text-decoration: none solid rgb(170, 170, 170);
    text-rendering: optimizeLegibility;
    border: 0px none rgb(170, 170, 170);
    font: normal normal 300 normal 18.5px / normal "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px 84px;
    outline: rgb(170, 170, 170) none 0px;
}



#home-nav {
    color: rgb(102, 102, 102);
    height: 38px;
    text-align: center;
    text-decoration: none solid rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 16px / normal "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 40px 0px 0px;
    outline: rgb(102, 102, 102) none 0px;
}

.home-icon{
    border: 0px none rgb(102, 102, 102);
    margin: 20px 10px 0px 10px;
    display: inline-block;
}


.home_ul {
    margin: 0px;
    padding: 0px;
    list-style: none outside none;
}

.home-li {
    color: rgb(102, 102, 102);
    display: inline-block;
    height: 38px;
    text-align: center;
    text-decoration: none solid rgb(102, 102, 102);
    width: 100px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal 300 normal 16px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(102, 102, 102) none 0px;
}


.home-a {
    color: black;
    display: inline-block;
    text-align: center;
    font: normal normal 300 normal 20px / 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(75, 0, 130) none 0px;
    padding: 7px 15px;
    transition: all 0.4s ease-in-out 0s;
}

.fa{
    opacity:1;
}

.fa:hover {
  opacity: 0.5
}


.projecttext {
  white-space: normal;
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
}

.projecttitle{
  text-align: left;
  margin-left: 10px;

}

.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}


@media only screen and (min-device-width: 480px) {
  .projectcard{
    width: 65%;
    padding: 0;
  }

  .projectcard img{
    width: 100%;
  }

  }



