@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

img {
  max-width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  /* background-color: #fffffe; */
}

a {
  text-decoration: none;
  color: #6246ea;
  border-bottom: 2px dotted #6246ea;
}

.special-link {
  border: none;
}

h2 {
  font-weight: bold;
  font-size: 32px;
}

p {
  line-height: 1.6;
}

#maincontent {
  max-width: 42em;
  margin: 15 auto;
  padding: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  /* float: left; */
  padding-bottom: 10px;
}

li a {
  /* display: inline-block; */
  /* border-bottom: 2px dotted #6246ea; */
  text-align: left;
  margin: 10px;
  text-decoration: none;
}

a:hover {
  background-color: #f4f2ff;
  color: rgb(98, 1, 255);
  border-bottom: 2px solid #6246ea;
}

/*HOVER POPUP*/
@media only screen and (min-width: 768px) {
  #popup a,
  #popup a:visited {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: #6246ea;
    background-color: #f4f2ff;
    padding: 0px 1px 0px 1px
  }

  #popup a span {
    display: none;
  }

  /* the IE correction rule */
  #popup a:hover {
    color: rgb(98, 1, 255);
    text-indent: 0; /* added the default value */
  }

  #popup a:hover span {
    display: block;
    position: absolute;
    top: 0px;
    left: 170px;
    width: 320px;
    margin: 0px;
    padding: 10px;
    color: #6246ea;
    background-color: #ffffff;
    font-weight: normal;
    text-align: left;
    border: 1px solid #666;
  }
}

@media only screen and (max-width: 768px) {
  #popup a span {
    display: none;
  }
  #popup a,
  #popup a:visited {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: #6246ea;
    background-color: #f4f2ff;
  }
}
