.container {
  padding-top: 60px;
}

::selection {
  background: #89a6ff;
}
::-moz-selection {
  background: #89a6ff;
}

nav {
  position: fixed;
  width: 160px; 
}

nav ul {
  float: left;
}

nav ul li {
  display: block;
  margin-bottom: 10px;
}

nav ul li a,
nav ul li a:visited,
nav ul li a:active  {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #003fff;
}

li {
  margin-bottom: 5px;
}

#logo {
  margin-bottom: 20px;
  letter-spacing: -1px;
}

#logo a {
  text-decoration: none;
}

.book-details {
  margin: 30px 0;
}

.book-details  .clearfix {
  clear: both;
}

.book-image {
  float: left;
  width: 25%;
}

.book-image img {
  width: 90%;
}

.book-details .details {
  float: right;
  width: 75%;
}
.book-details .detail .detail-category {
  text-align: right;
  vertical-align: top;
  min-width: 105px;
  font-weight: bold;
}

.book-details .detail .detail-content {
  vertical-align: top;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  header h1 {
    font-size: 34px;
    line-height: 37px;
  }

  #logo {
    text-align: center;
  }


  nav { 
    position: relative;
    width: 100%;
  }

  nav ul {
    width: 100%;
    text-align: center;
  }

  nav ul li {
    display: inline;
    margin: 0 3px;
  }

  nav ul li a {
    font-size: 12px;
  }
}

/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Non 960 */
@media only screen and (max-width: 959px) {
    #logo {
      margin-bottom: 15px;
    }

    nav .button {
      padding: 9px 20px 11px;
    }
}

/* iPad Portrait/Browser */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  nav {
    width: 124px;
  }
}

/* Mobile/Browser */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Anything smaller than standard 960 */
@media only screen and (max-width: 959px) {}


/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 959px) and (max-device-width: 1000px) {}

/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}

/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}

/* Anything smaller than standard 960 on a device */
@media only screen and (max-width: 959px) and (max-device-width: 1000px) {
    .resize { display: none; }
}

table{
  background:#fff;
  border-collapse:collapse;
  margin:5px 0 10px;

  margin-top: 20px;
  margin-bottom: 20px;
}

th, td{
  padding:3px 10px;
  text-align:left;
  vertical-align:top;
}

tr.even td{
  background:#f7f7f7;
}

th{
  background:#edeff0;
}

.highlight {
  margin-bottom: 20px;
}

div.highlight > pre {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  border-left: 1px solid #ccc;
  overflow: auto;
}

code {
  font-family: monospace;
}

p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

sup {
  vertical-align: super;
  font-size: 8pt;
}

