/* main.scss */

$text-color: #333333;
$link-color: #111111;
$background-color: #ffffff;
$font-family: menlo,'andale mono','courier new',sans-serif;

/* responsive */
@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 600px) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (max-width: 1000px) { @content; }
  }
}

html, body {
  height: 100%;
  background: $background-color;
  color: $text-color;
  font: normal 12px $font-family;
  line-height: 156%;

  a {
    color: $link-color;
    &:hover {
      text-decoration: none;
      color: $link-color;
    }
  }

  h1 {
    font-size: 1.7em;
  }
}

.header { 
  font-family: $font-family;
  text-align: center;
  height: 110px;
  margin: 64px auto;
  font-style: normal;
  font-variant: normal;
  color: $link-color;

  .name {
    font-weight: bold;
    text-decoration: none;
    color: $link-color;
    text-transform: uppercase;
  }

  .pages {
    margin: 0;
    padding: 0;
    margin-top: 64px;
    list-style-type: none;

    li {
      display: inline;
      margin: 0 20px;
      @include respond-to(handhelds) {
        margin: 0 15px;
      }
    }
  }
}

.container {
  width: 40%;
  min-width: 620px;
  margin: auto;
  @include respond-to(medium-screens) {
    width: 70%;
    min-width: 100px;
  }
  @include respond-to(handhelds) {
    width: 90%;
    min-width: 100px;
  }

  .book-details {
    margin: 30px 0;

    .clearfix {
      clear: both;
    }

    .book-image {
      float: left;
      width: 25%;

      img {
        width: 90%;
      }
    }

    .details {
      float: right;
      width: 75%;
      .detail {
        .detail-category {
          text-align: right;
          vertical-align: top;
          min-width: 105px;
          font-weight: bold;
        }

        .detail-content {
          vertical-align: top;
        }
      }
    }
    
    
  }
}

.posts {
  a {
    text-decoration: none;
  }
  .post {
    margin-bottom: 30px;

    h3.title {
      margin: 20px 0 10px 0;
    }
  }

  .category {
    margin-bottom: 100px;
  }
}

.content {
  margin: auto;
  margin-bottom: 100px;
  .section {
    margin-bottom: 25px;
  }
  ul {
    li {
      list-style-type: disc;
      list-style-position: outside;
    }
  }
}
